<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for("static",filename="css/main.css")}}">
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <script>
      function hideErrorMessage(){
        var errorMessage=document.getElementById("error-message");
        errorMessage.style.display="None";
      }
    </script>
    <nav class="navbar">
      <a style="text-decoration: none;" class="logoheader" href="/">
        <img src="{{url_for("static", filename="universityhaticon.png")}}">
        <h1>FindMyCollege</h1>
      </a>
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        {% if user.completed==True %}
        <a class="nav-item" id="View Prospects" href="/prospects_search">COMPARE COURSES</a>
        <a class="nav-item" id="View Prospects" href="/all_courses">VIEW ALL COURSES</a>
        <a class="nav-item" id="viewresult" href="/view_results">VIEW RESULTS</a>
        <a class="nav-item" id="Take Test" href="/TakeTest1">RETAKE TEST</a>
        <a class="nav-item" id="logout" href="/logout">LOGOUT</a>
        {% endif %}
        {% if user.completed==False %}
        <a class="nav-item" id="View Prospects" href="/prospects_search">COMPARE COURSES</a>
        <a class="nav-item" id="View Prospects" href="/all_courses">VIEW ALL COURSES</a>
        <a class="nav-item" id="Take Test" href="/TakeTest1">TAKE TEST</a>
        <a class="nav-item" id="logout" href="/logout">LOGOUT</a>
        {% endif %}
        {% else %}
        <a class="nav-item" id="Take Test" href="/login">TAKE TEST</a>
        <a class="nav-item" id="login" href="/login">LOGIN</a>
        <a class="nav-item" id="signup" href="/sign-up"><button>SIGN UP</button></a>
        {% endif %}
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert-popup" role="alert" id="error-message">
      <div class="warning">
        {{ message }}
      </div>
      <button type="button" class="close" data-dismiss="alert" onclick="hideErrorMessage()">X</button>
    </div>
    {% else %}
    <div class="alert-popup" role="alert" id="error-message">
      <div class="warning">
        {{ message }}
      </div>
      <button type="button" class="close" data-dismiss="alert" onclick="hideErrorMessage()">X</button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    {% block search %}{% endblock %}
    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    
{% block javascript %}
    <script type="text/javascript">
      function deleteNote(noteId) {
  fetch("/delete-note", {
    method: "POST",
    body: JSON.stringify({ noteId: noteId }),
  }).then((_res) => {
    window.location.href = "/";
  });
  }
</script>
{% endblock %}
  </body>
</html>